{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Fairy Tail</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ad sequi itaque libero! Commodi quibusdam nam aliquam eligendi quod eaque distinctio. Vel nulla voluptate sint. Odio voluptates alias dolor dolorum.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/ft.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}